<ul>
    <li><a href="/enrollments/new">Add New Enrollment</a></li>
    <li><a href="/registries">Add New Registry</a></li>
    <li><a href="/participants/new">Add New Participant</a></li>
    <li><a href="/registries">All Registries</a></li>
    <li><a href="/coordinators">All Coordinators</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
<h3><%=@coordinator.name%>'s Profile</h3>
<h3>Email: <%=@coordinator.email%></h3>
<h4>Phone Number: <%=@coordinator.phone_number%></h4>

<h4><%=@coordinator.name%>'s Registries</h4>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        <% @coordinator.registries.each do |registry| %>
        <tr>
            <td><a href="/registries/<%=registry.id %>"><%=registry.name %></a></td>
            <td><%=registry.location %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<ul>
</ul>
